<!--   <table class="table table-hover">
    <thead>
      <tr class="thead-dark">
        <th>Id</th>
        <th>Titre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of messagesDisp" (click)="currentMessage=message">
        <td>{{message.id}}</td>
        <td>{{message.messageTitle}}</td>
      </tr>
    </tbody>
  </table> -->
<div class="row">
<div class="az-mail-list col-lg-5 col-xm-12">
  <div class="az-mail-item unread" *ngFor="let message of messagesDisp" (click)="changeCurrentMessage(message)">
    <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
    <div class="az-mail-body">
      <div class="az-mail-from">{{message.user?.login}}</div>
      <div class="az-mail-subject">
        <strong>{{message.messageTitle}}</strong>
        <span>{{message.messageText}}</span>
      </div>
    </div><!-- az-mail-body -->
  </div><!-- az-mail-item -->
</div>
<div class="col-lg-2">

</div>
<div class="col-lg-5 col-xm-12">
  <span *ngIf="currentMessage!=null">
    <jhi-message-detail [currentMessage]="currentMessage"></jhi-message-detail>
  </span>
</div>
</div>