<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="annotation">
            <h2><span jhiTranslate="chatbotApp.annotation.detail.title">Annotation</span> {{annotation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="chatbotApp.annotation.annotationType">Annotation Type</span></dt>
                <dd>
                    <span>{{annotation.annotationType}}</span>
                </dd>
                <dt><span jhiTranslate="chatbotApp.annotation.annotationData">Annotation Data</span></dt>
                <dd>
                    <span>{{annotation.annotationData}}</span>
                </dd>
                <dt><span jhiTranslate="chatbotApp.annotation.message">Message</span></dt>
                <dd>
                    <div *ngIf="annotation.message">
                        <a [routerLink]="['/message', annotation.message?.id, 'view']">{{annotation.message?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/annotation', annotation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
