<div class="az-signin-wrapper">
    <div class="az-card-signin">
        <div>
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
              <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
          </div>
      <h1 class="az-logo">Ino<span>va</span>Bot</h1>
      <div class="az-signin-header">
        <h2>Welcome back!</h2>
        <h4>Please sign in to continue</h4>

        <form>
          <div class="form-group">
            <label>Username</label>
            <input  [(ngModel)]="username" type="text" class="form-control" name="password" placeholder="Enter your email" value="demo@themepixels.me">
          </div><!-- form-group -->
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Enter your password" value="thisisademo">
          </div><!-- form-group -->
          <div class="form-check">
              <label class="form-check-label" for="rememberMe">
                <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe"
                  checked>
                <span>Remember me</span>
              </label>
          </div>
          <button type="submit" class="btn btn-az-primary btn-block" (click)="login()">Sign In</button>
        </form>
      </div><!-- az-signin-header -->
      <div class="az-signin-footer">
          <div>
              <a class="alert-link" (click)="requestResetPassword()">Did you forget your
                password?</a>
          </div>
          <div>
              <span>You don't have an account yet?</span>
              <a class="alert-link" (click)="register()">Register a new
                account</a>
          </div>
      </div><!-- az-signin-footer -->
    </div><!-- az-card-signin -->
  </div><!-- az-signin-wrapper -->