<!-- <div class="container-fluid row">
  <div class="col">
      <ul class="list-group">
          <li class="list-group-item" *ngFor="let team of teams"> <span (click)="filterByTeam(team)">{{team.teamName}}</span>
            <ul class="list-group">
              <span *ngFor="let channel of channels">
                <li class="list-group-item" *ngIf="channel.team.id===team.id" (click)="filterByChannel(channel)">{{channel.channelName}}</li>
              </span>
            </ul>
          </li>
      </ul>
  </div>
  <div class="col">
      <jhi-messages [messagesDisp]="messagesDisp"></jhi-messages>
  </div>
</div>
 -->
<div class="az-body az-body-sidebar">
  <div class="az-sidebar">
    <div class="az-sidebar-header">
      <a href="" class="az-logo">Inn<span>ova</span>Bot</a>
    </div><!-- az-sidebar-header -->
    <div class="az-sidebar-loggedin">
      <div class="az-img-user online"><img src="https://via.placeholder.com/500x500" alt=""></div>
      <div class="media-body">
        <h6>{{currentAccount?.login}}</h6>
        <span>Premium Member </span>
      </div><!-- media-body -->
    </div><!-- az-sidebar-loggedin -->
    <div class="az-sidebar-body">
      <ul class="nav">
        <li class="nav-label">Teams    <jhi-addteam [users]="users" (addingTeamEvent)="receiveAddedTeam($event)"></jhi-addteam></li>
        <li class="nav-item active show" *ngFor="let team of teams">
          <a class="nav-link with-sub"><i class="typcn typcn-clipboard"></i><span
              (click)="filterByTeam(team)">{{team.teamName}} </span> &nbsp; <jhi-inviteteammate [team]="team"></jhi-inviteteammate></a>
          <nav class="nav-sub">
            <span *ngFor="let channel of channels">
              <a class="nav-sub-link" *ngIf="channel.team.id===team.id"
                (click)="filterByChannel(channel)">{{channel.channelName}}</a>
            </span>
            <a class="nav-sub-link"><jhi-addchannel [team]="team" (addingChannelEvent)="receiveAddedChannel($event)"></jhi-addchannel></a>
          </nav>
        </li><!-- nav-item -->
      </ul><!-- nav -->
      <ul class="nav">
        <li class="nav-label">Annotations <span class="badge badge-dark">{{annotData.length}}</span></li>
        <li>
            <!-- <p *ngFor="let a of annotData |filterUnique">
                {{a}} <span class="badge badge-dark">{{t[a]}}</span>
            </p> nav-item --> 
            <div><span *ngFor="let a of t.keys()">
              <p> {{a}} <span class="badge badge-dark">{{t.get(a)}}</span></p>
             </span></div>
        </li>
      </ul><!-- nav -->
    </div><!-- az-sidebar-body -->
  </div><!-- az-sidebar -->
  <div class="az-content az-content-dashboard-two">
    <div class="az-header">
      <div class="container-fluid">
        <div class="az-header-left">
          <a href="" id="azSidebarToggle" class="az-header-menu-icon"><span></span></a>
        </div><!-- az-header-left -->
        <div class="az-header-center">
          <input type="search" class="form-control" placeholder="Search for anything...">
          <button class="btn"><i class="fas fa-search"></i></button>
        </div><!-- az-header-center -->
        <div class="az-header-right">
          <div class="az-header-message">
            <a><i class="typcn typcn-messages"></i></a>
          </div><!-- az-header-message -->
          <div class="dropdown az-header-notification">
            <a class="new"><i class="typcn typcn-bell"></i></a>
            <div class="dropdown-menu">
              <div class="az-dropdown-header mg-b-20 d-sm-none">
                <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
              </div>
              <h6 class="az-notification-title">Notifications</h6>
              <p class="az-notification-text">You have 2 unread notification</p>
              <div class="az-notification-list">
                <div class="media new">
                  <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                  <div class="media-body">
                    <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                    <span>Mar 15 12:32pm</span>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media new">
                  <div class="az-img-user online"><img src="https://via.placeholder.com/500x500" alt=""></div>
                  <div class="media-body">
                    <p><strong>Joyce Chua</strong> just created a new blog post</p>
                    <span>Mar 13 04:16am</span>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                  <div class="media-body">
                    <p><strong>Althea Cabardo</strong> just created a new blog post</p>
                    <span>Mar 13 02:56am</span>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                  <div class="media-body">
                    <p><strong>Adrian Monino</strong> added new comment on your photo</p>
                    <span>Mar 12 10:40pm</span>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- az-notification-list -->
              <div class="dropdown-footer"><a >View All Notifications</a></div>
            </div><!-- dropdown-menu -->
          </div><!-- az-header-notification -->
          <div class="dropdown az-profile-menu">
            <a class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></a>
            <div class="dropdown-menu">
              <div class="az-dropdown-header d-sm-none">
                <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
              </div>
              <div class="az-header-profile">
                <div class="az-img-user">
                  <img src="https://via.placeholder.com/500x500" alt="">
                </div><!-- az-img-user -->
                <h6>{{currentAccount?.login}}</h6>
                <span>Premium Member</span>
              </div><!-- az-header-profile -->

              <a routerLink="settings" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
              <a routerLink="password" class="dropdown-item"><i class="typcn typcn-edit"></i> Password</a>
              <a  class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
              <a  class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
              <a (click)=" logout()" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
            </div><!-- dropdown-menu -->
          </div>
        </div><!-- az-header-right -->
      </div><!-- container -->
    </div><!-- az-header -->
    <div>
      <jhi-alert></jhi-alert>
    </div>

       <!--  <jhi-messages [messagesDisp]="messagesDisp"></jhi-messages> -->
       <div class="az-body">
        <div class="az-content az-content-app pd-b-0">
          <div class="container-fluid">
            <div class="az-content-left az-content-left-chat">      
              <div class="az-chat-contacts-wrapper">
                <label class="az-content-label az-content-label-sm">   &nbsp;   </label>
                <div id="chatActiveContacts" class="az-chat-contacts">
                </div><!-- az-active-contacts -->
              </div><!-- az-chat-active-contacts -->
      
              <div id="azChatList" class="az-chat-list">
                <div class="media new" *ngFor="let message of messagesDisp" (click)="changeCurrentMessage(message)">
                  <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                  <div class="media-body">
                    <div class="media-contact-name">
                      <span>{{message.messageTitle}}</span>
                      <span>{{message.user?.login}}</span>
                    </div>
                    <p>
                      <div><span *ngFor="let a of annotations">
                          <span *ngIf="a.message.id===message.id"><span
                              class="badge badge-pill badge-success">{{a.annotationData}}</span></span>
                        </span></div>
                    </p>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- az-chat-list -->
            </div><!-- az-content-left -->
            <div class=" az-content-body-chat">
              <div class="az-chat-header">
                <div class="az-img-user"><img src="https://via.placeholder.com/500x500" alt=""></div>
                <div class="az-chat-msg-name">
                  <h6>{{currentMessage.messageTitle}}</h6>
                  <small>
                  <span *ngIf="currentMessage.user==null">Not assigned
                  </span>
                  <span *ngIf="currentMessage.user!=null">assigned to <strong>{{currentMessage.user.login}}</strong></span>
                  </small>
                </div>
                <nav class="nav">
                  <a href="" class="nav-link"><i class="icon ion-md-more"></i></a>
                  <a href="" class="nav-link" data-toggle="tooltip" title="Call"><i class="icon ion-ios-call"></i></a>
                  <a class="nav-link" data-toggle="tooltip" title="Archive"><jhi-archivemessage [msg]="currentMessage" (archimessageEvent)="receiveArchiveMsg($event)"></jhi-archivemessage></a>
                  <a href="" class="nav-link" data-toggle="tooltip" title="Trash"><i class="icon ion-md-trash"></i></a>
                  <a href="" class="nav-link" data-toggle="tooltip" title="View Info"><i
                      class="icon ion-md-information-circle"></i></a>
                </nav>
              </div><!-- az-chat-header -->
              <div id="azChatBody" class="az-chat-body">
                <div class="content-inner">
                  <div class="media">
                    <div class="media-body">
                      <div class="az-msg-wrapper">
                        <h6>Message</h6>
                        {{currentMessage.messageText}}
                      </div><!-- az-msg-wrapper -->
                    </div><!-- media-body -->
                  </div><!-- media -->
                  <div  class="media">
                    <div class="media-body">
                      <div class="az-msg-wrapper">
                        <h6>User : </h6>
                        <ng-container *ngIf="currentMessage.user==null; then add; else change">
                        </ng-container>
                        <ng-template #change>
                          {{currentMessage.user?.login}} &nbsp; <button type="button" class="btn btn-danger btn-xs"
                            (click)="edited=true;">Change</button>
                        </ng-template>
                        <ng-template #add>
                          {{currentMessage.user?.login}}<button type="button" class="btn btn-info btn-xs"
                            (click)="edited=true;">Add</button>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-body">
                      <div class="az-msg-wrapper" *ngIf="edited==true">
                        <form>
                          <div class="form-group">
                            <label for="choosingUser"><h6> choose User</h6></label>
                            <select class="form-control" [(ngModel)]="currentMessage.user" name="Utilisateur">
                              <option  [ngValue]="null"></option>
                              <option [ngValue]="userOption" id="choosingUser" *ngFor="let userOption of users;">
                                {{userOption.login}}
                              </option>
                            </select>
                          </div>
                          <button (click)="edited=false;save()" class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                          </button>
                        </form>
                        <hr>
                      </div>
                    </div><!-- media-body -->
                  </div><!-- media -->
                  <div class="media">
                    <div class="media-body">
                      <div class="az-msg-wrapper">
                        <h6>channel : </h6>
                        {{currentMessage.channel.channelName}}
                        created at {{this.currentMessage.createdAt}}
                      </div>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-body">
                      <div class="az-msg-wrapper col-lg-12">
                        <h6>Annotations</h6>
                        <h6><span *ngFor="let a of annotations">
                            <span *ngIf="a.message.id===currentMessage.id">
                              <span class="badge badge-pill badge-info">{{a.annotationData}}
                              </span></span></span></h6>
                              <jhi-addannotation [msg]="currentMessage" (addingEvent)="receiveAddAnnotation($event)"></jhi-addannotation>
                      </div>
                    </div><!-- media-body -->
                  </div><!-- media -->
                </div><!-- az-chat-body -->
              </div><!-- az-content-body -->
            </div>
          </div><!-- az-content -->
        </div>
    </div><!-- az-content-header -->
</div>


