#createdDate {
    font-size: 0.7em;
    color: rgb(21, 0, 139);
    font-style: italic;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
}
#headerOfCur {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#invitation {
    display: flex;
    padding-left: 3%;
    justify-content: space-between;
    width: 100%;
}
.az-content-body-chat {
    width: 100%;
}
#messageDetails {
    width: 100%;
    font-size: 1em;
    color: black;
}
#messageDetails h6 {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(82, 164, 211);
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
#messageDetails {
    background-color: #fff;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 30px;
    border-top-left-radius: 0;
}
