<div class="btn-group dropright">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      +
    </button>
    <div class="dropdown-menu">
            <form (ngSubmit)="save()" name="editForm" role="form" #editForm="ngForm">
                <div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_annotationType">Annotation Type</label>
                        <input type="number" class="form-control" name="annotationType" id="field_annotationType"
                            [(ngModel)]="annotation.annotationType" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_annotationData">Annotation Data</label>
                        <input type="text" class="form-control" name="annotationData" id="field_annotationData"
                            [(ngModel)]="annotation.annotationData" />
                    </div>
                </div>
                <div>
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        Save
                    </button>
                </div>
            </form>
    </div>
  </div>